@model DateTime

@{
	string result;
	DateTime now = DateTime.Now;
	TimeSpan ts = Model - now;
	int days = ts.Days;

	if (days < 0)
	{
		result = "This event has ended.";
	}
	else
	{
		result = "Starts in " + days + " days";
	}
}

<span>@result</span>

