@model ICollection<GetABuddy.Web.ViewModels.Category.CategoryViewModel>
@{
    ViewBag.Title = "All";
}

<br />

<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">All Categories</div>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			@foreach (var category in Model)
			{
				<li class="list-group-item">
					<span class="badge">@category.Events.Count</span>
					@category.Name
				</li>
			}
		</ul>
	</div>
</div>