@{
    ViewBag.Title = "About Us";
}

<div class="page-header">
	<h3>About Us</h3>
</div>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus, quam vitae tincidunt dapibus, sem ipsum faucibus ligula, 
	id eleifend diam dui eu orci. Aenean sed leo sed augue efficitur convallis et sed sapien. Pellentesque lacinia mattis mi. 
	Aliquam nec aliquet ipsum. Nunc sed neque sit amet nisi varius ullamcorper vitae in erat. Nullam tempus dolor lacus, 
	ut sodales diam auctor ac. Sed egestas ante a sagittis rutrum. Cum sociis natoque penatibus et magnis dis parturient montes, 
	nascetur ridiculus mus. Sed eleifend dui sit amet vehicula blandit.
</p>

<p>Aliquam mattis vitae enim nec volutpat. Integer vitae eleifend lacus, ut imperdiet arcu. Etiam blandit neque sit amet arcu mollis,
	 ultricies gravida odio convallis. Fusce id convallis lectus, eget sollicitudin sapien. Etiam congue iaculis pellentesque. 
	Fusce aliquet dolor sed commodo hendrerit. Phasellus vitae maximus dui. In turpis magna, iaculis lobortis porttitor sit amet, 
	aliquam id nunc. Proin vel lorem dictum, pharetra felis at, ultricies nibh. Cras tempus purus nec est pulvinar placerat.
	</p>

<p>
	Aliquam commodo nisi porta, tincidunt sapien nec, hendrerit dolor. Etiam tempus dignissim sem semper auctor. In fringilla libero id
	 nulla sollicitudin, ac tempor risus luctus. Suspendisse sollicitudin, diam at feugiat consequat, nisi ex mattis ante, nec efficitur 
	nibh ligula id elit. Vivamus a lobortis augue. Aliquam erat volutpat. In luctus maximus erat, non dapibus magna hendrerit vel. 
	Aenean quam arcu, fermentum eleifend fermentum eu, pellentesque nec turpis. Fusce fringilla sollicitudin lacus, vel aliquam tellus 
	auctor id.
</p>

<p>
	Praesent eu massa ac mi condimentum dignissim. Integer odio odio, tincidunt quis quam vitae, eleifend facilisis dolor. Aliquam 
	ultricies sapien vitae enim semper, eu vestibulum nulla lobortis. Sed porta, tellus vel pellentesque mollis, massa nisl suscipit odio, 
	non varius augue arcu eget purus. Proin mollis diam ac risus sodales placerat at in diam. Quisque ultrices justo sed ligula sodales, 
	in porta mi convallis. Vestibulum vitae fringilla purus. Duis laoreet, orci in tempus vulputate, tortor lorem laoreet eros, 
	nec hendrerit mi ante ac tortor. Pellentesque eu ullamcorper eros. Etiam semper blandit libero vel pulvinar.
</p>

<p>
	Integer eget enim gravida, malesuada libero in, auctor sem. Etiam in purus vulputate, mollis dui at, varius urna. Morbi tempor, 
	ex vitae vehicula imperdiet, neque dui pharetra metus, non elementum est erat sed metus. Curabitur ex tellus, sodales interdum 
	malesuada in, iaculis sed enim. Ut ac elit id turpis faucibus commodo id sit amet augue. Sed ultricies velit id justo porttitor
	 rhoncus. Nulla gravida nisi sit amet convallis pulvinar.
</p>

