@model ICollection<GetABuddy.Web.ViewModels.Event.CityViewModel>
@{
    ViewBag.Title = "_CitiesDropDown";
}

<select class="form-control" name="CityId">
	@foreach (var city in Model)
	{
		<option value=@city.Id>@city.Name</option>
	}
</select>

